*{
    font-family: 'Inter', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
}
body{
    margin : 0px;
    /* background: #c4dceec4; */
}

.flex-container{
    display : flex;
    justify-content: space-between;
    height: 900px;
}

.flex-item{
    flex : 1;
    padding: 10PX;
    /* border: 1px solid black; */
    align-items: flex-start;
    /* margin : auto; */
}

.large{
    flex : 3;
    overflow: auto;
    overflow-x: auto;
}
.small{
    overflow-y: auto;
    overflow-x: hidden;
}
@media (max-width: 1000px) {
    .small {
        display: none; /* Display on larger screens (md and up) */
    }
}
/* @media (max-width: 1312px) {
    .small {
        display: none;
    }
} */
@media (max-width: 1500px) {
    .flex-container {
        height: 650px;
    }
}

::-webkit-scrollbar{
    width: 8px;
}